<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather App</title>
  <link rel="stylesheet" type="text/css" href="static/css/app.css">
</head>
<body>

<div id="app">
  <h1>Add Weather Components</h1>

  <content>

    <div class="row">
      <form class="weather-form">
        <select name="city" id="city">
          <option value="">Choose a city</option>
        </select>
        <button type="submit">Update</button>
      </form>
      
      <div class="weather-info"></div>
    </div>
    
    <div class="weather-blocks row"></div>

  </content>
  
</div>

<script type="text/javascript" src="static/js/app.js"></script>
<script type="module" src="static/js/weather-block.js"></script>
</body>
</html>
